body {
    background-color: teal;
    height: 100%;
}
#derekDiv {
    background-color: teal;
}
body#body {
    display: flex;
    flex-direction: column;
}

/*nav bar section*/
#pageLinks {
    float: right;
    margin-right: 25%;
}

#navLogo {
    float: right;
    margin: 5%;
}

#sideBar {
    margin-left: 88.75%;
}

.anchorBtn {
    height: 2em;
    width: 6em;
    border: green;
    background-color: #449d44;
    margin: 5%;
    opacity: .75;
}

.surveyBtn {
    margin-top: 2%;
}

button {
   background-color: #449d44;
}

#bottomAvatar {
    margin-bottom: 18%;
    background-color: teal;
}

a {
    color: #fff;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.logoSM {
    width: 150px;
    height: 71.5px;
}

/*question section*/

.question-section {
    text-align: center;
}

/*answer section*/

.answer-section {
    padding-left: 131px;
    padding-right: 131px;
    padding-top: 48px;
}

/*images for answers*/

.img-radio {
    width: 150px;
    height: 150px;
}

.description {
    padding-left: 24px;
    margin-top: 48px;
}

.member-pic {
    width: 400px;
    height: 400px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.next-button {
    padding-left: 24px;
    padding-bottom: 24px;
}

/* footer */

.container {
    flex: 1 0 auto;
}

footer.footer {
    background-color: #449d44;
    color: #fff;
    flex-shrink: 0;
    padding: 1%;
    text-align: center;
    width: 100%;
}

.footer a:hover {
    color: teal;
}
