<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chelsey
        </>
    </title>
    <!--bootstrap link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--personal stylesheet-->
    <link rel="stylesheet" href="assets/css/resultstyle.css">
</head>

<body style="background-color:#FFFDBF;">
    <!--nav bar code w/ logo-->
    <section class="nav-bar">
        <!--logo placed far right-->
        <img src="assets/images/DeciderLogo_SM.jpg" class="logoSM">
    </section>

    <!--chelsey avatar-->
    <div class="row">
        <div class="col-md-6">
            <section class="description">
                <h1>You got Chelsey!</h1>
                <h2>You love the outdoors, bicycling and going to concerts. Somewhat of a risk taker, one day, you would like to try skydiving.</h2>
            </section>
        </div>

        <div class="col-md-6">
            <img src="assets/images/AvatarChelsey.png" class="member-pic">
        </div>
    </div>

    <div class="row col-md-12">
        <section class="next-button">
            <button type="button" class="btn btn-success btn-lg">RESTART</button>
        </section>
    </div>

    <!--kevin avatar result-->






</body>

</html>