<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ida</></title>
    <!--bootstrap link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <!--personal stylesheet-->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body style="background-color:#DFDFFF;">
    <!--nav bar code w/ logo-->
    <section class="nav-bar"> 
            <!--logo placed far right-->
                <img src="assets/images/DeciderLogo_SM.jpg" class="logoSM">
    </section>


    <div class="row">
        <div class="col-md-6">
            <section class="description">
                <h1>You got Ida!</h1>
                <h2>You enjoy long walks on the beach, and listening to the radio. You wish summer would never end, and that ice cream became a required side for every meal.</h2> 
            </section>
        </div>

        <div class="col-md-6">
            <img src="assets/images/AvatarIda.png" class="member-pic">
        </div>
    </div>

    <div class="row col-md-12">
            <section class="next-button">
                <button type="button" class="btn btn-success btn-lg">RESTART</button>
            </section>
    </div>





</body>

</html>