<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dev Decider Result</title>
  <link rel="shortcut icon" type="image/png" href="assets/images/friendsFavicon.ico">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <!--personal stylesheet-->
  <link rel="stylesheet" href="assets/css/resultstyle.css">
</head>

<body id="body" style="background-color:#E4FFBF;">
  <!--nav bar code w/ logo-->
  <nav class="navbar fixed-top">
    <div id="sideBar">
      <div id="navLogo" class="navbar-header">
        <img src="assets/images/DeciderLogo_SM.jpg" class="logoSM">
      </div>

      <div id="pageLinks">
        <ul class="nav navbar-nav">
          <li class="active">
            <button class="btn-sm btn-success anchorBtn"><a href="#chelsey">Chelsey</a></button>
          </li>
          <li>
            <button class="btn-sm btn-success anchorBtn"><a href="#derek">Derek</a></button>
          </li>
          <li>
            <button class="btn-sm btn-success anchorBtn"><a href="#kevin">Kevin</a></button>
          </li>
          <li>
            <button class="btn-sm btn-success anchorBtn"><a href="#ida">Ida</a></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="wrapper">
<br>
      <!--chelsey avatar-->
      <div class="row">
        <a name="chelsey"></a>
          <div class="row col-md-12" id="chelseyInfo">
            <section class="next-button">
              <button type="button" class="btn btn-success btn-lg" id="chelsey">Chelsey's Survey Answers</button>
            </section>
          </div>

        <div class="col-md-6">
          <section class="chelseyDescription description">
            <h1 class=>You got Chelsey!</h1>
            <h2>You love the outdoors, bicycling and going to concerts. Somewhat of a risk taker, one day, you would like to
              try skydiving.</h2>
          </section>
          <section class="chelseyDataBase">
          </section>
        </div>

        <div class="col-md-6">
          <img src="assets/images/AvatarChelsey.png" class="member-pic">
        </div>
      </div>
<br>
      <!--derek avatar-->
      <div class="row">
        <a name="derek"></a>
        <div class="row col-md-12" id="derekInfo">
          <section class="next-button">
            <button type="button" class="btn btn-success btn-lg" id="derek">Derek's Survey Answers</button>
          </section>
        </div>
        <div class="col-md-6">
          <section class="derekDescription description">
            <h1 class>You got Derek!</h1>
            <h2>You have an affinity for watching movies and love pop culture. You're favorite food is watermelon and favorite
              color is yellow.</h2>
          </section>
          <section class="derekDataBase">
          </section>
        </div>

        <div class="col-md-6">
          <img src="assets/images/AvatarDerek.png" class="member-pic">
        </div>
      </div>
<br>
<!--kevin avatar-->
            <div class="row">
              <a name="kevin"></a>
                    <div class="row col-md-12" id="kevinInfo">
                      <section class="next-button">
                        <button type="button" class="btn btn-success btn-lg" id="kevin">Kevin's Survey Answers</button>
                      </section>
                    </div>
                <div class="col-md-6">

                    <section class="kevinDescription description">
                      <h1>You got Kevin!</h1>
                      <h2>You enjoy rollerblading, likes both cats and dogs as well as eating cheeseburgers. Technology is also a favorite.</h2>
                    </section>
                  <section class="kevinDataBase">
                  </section>
                </div>

                <div class="col-md-6">
                  <img src="assets/images/AvatarKevin.png" class="member-pic">
                </div>
            </div>
<br>
<!--ida avatar-->
            <div class="row" id="bottomAvatar">
              <a name="ida"></a>
                    <div class="row col-md-12" id="idaInfo">
                      <section class="next-button">
                        <button type="button" id="ida" class="btn btn-success btn-lg">Ida's Survey Answers</button>
                      </section>
                    </div>
              <div class="col-md-6">
                <section class="idaDescription description">
                  <h1>You got Ida!</h1>
                  <h2>You enjoy long walks on the beach, and listening to the radio. You wish summer would never end, and that ice cream
                    became a required side for every meal.</h2>
                </section>
                <section class="idaDataBase">
                </section>
              </div>

              <div class="col-md-6">
                <img src="assets/images/AvatarIda.png" class="member-pic">
              </div>
            </div>
<br>
          <div class="row col-md-12" id="alikeDev" style="margin:0 auto"> 
            <select class="chosen-select" id="selectContainer"></select>
             <button id="resultsButton" type="button" class="btn btn-success btn-lg" style="text-align:center">Find Other Devs</button>
             <button id="findDevsButton" type="button" class="btn btn-success btn-lg" style="text-align:center">Choose This Dev</button>
          </div>
          <br>
</div>

        <footer class="footer">
          <div class="container">
            <p>
              <a href="https://github.com/Dfrand/FriendFinder">GitHub</a> &copy;Copyright 2018
              <br>
              <a href="https://www.linkedin.com/in/derek-frand/">Derek Frand</a> |
              <a href="https://www.linkedin.com/in/ida-jensen/">Ida Jensen</a> |
              <a href="https://www.linkedin.com/in/chelsey-mckinney-0392a388/">Chelsey McKinney</a> |
              <a href="https://www.linkedin.com/in/kevin-hinkel/">Kevin Hinkel</a>
            </p>
          </div>
        </footer>
<script>
  var ida = [];
  var kevin = [];
  var chelsey = [];
  var derek = [];
  var devArray = [];


    $("#selectContainer").hide();
  $("#findDevsButton").hide();


  //yes i know this should be one big function instead of setting up these divs like this
  $("#ida").on("click", function () {
    var id = 2;
    $(".idaDescription").hide();
    $.get("/api/devs/" + id, function (data) {
      console.log(data);

      var dessert = $("<div>");
      var food = $("<div>");
      var snack = $("<div>");
      var kitchen = $("<div>");
      var drink = $("<div>");
      var study = $("<div>");
      var music = $("<div>");
      var editor = $("<div>");
      var programming = $("<div>");
      var exercise = $("<div>");

      dessert.text("Favorite Dessert :" + data.dessert);
      food.text("Favorite Food :" + data.food);
      snack.text("Favorite Snack :" + data.snack);
      kitchen.text("Go-To Kitchen Item: " + data.kitchen);
      drink.text("Favorite Alcoholic Drink : " + data.drink);
      study.text("Favorite Place to Study : " + data.study);
      music.text("Favorite Music Genre : " + data.music);
      editor.text("Favorite Text Editor : " + data.editor);
      programming.text("Reason to learn to code : " + data.programming);
      exercise.text("Favorite Exercise : " + data.exercise);


      $(".idaDataBase").append(dessert, food, snack, kitchen, drink, study, music, editor, programming,
        exercise);
    });
  });
  $("#derek").on("click", function () {
    var id = 4;
    $(".derekDescription").hide();
    $.get("/api/devs/" + id, function (data) {
      console.log(data);

      var dessert = $("<div>");
      var food = $("<div>");
      var snack = $("<div>");
      var kitchen = $("<div>");
      var drink = $("<div>");
      var study = $("<div>");
      var music = $("<div>");
      var editor = $("<div>");
      var programming = $("<div>");
      var exercise = $("<div>");

      dessert.text("Favorite Dessert :" + data.dessert);
      food.text("Favorite Food :" + data.food);
      snack.text("Favorite Snack :" + data.snack);
      kitchen.text("Go-To Kitchen Item: " + data.kitchen);
      drink.text("Favorite Alcoholic Drink : " + data.drink);
      study.text("Favorite Place to Study : " + data.study);
      music.text("Favorite Music Genre : " + data.music);
      editor.text("Favorite Text Editor : " + data.editor);
      programming.text("Reason to learn to code : " + data.programming);
      exercise.text("Favorite Exercise : " + data.exercise);
      $(".derekDataBase").append(dessert, food, snack, kitchen, drink, study, music, editor, programming,
        exercise);
    });
  });
  $("#kevin").on("click", function () {
    var id = 1;
    $(".kevinDescription").hide();
    $.get("/api/devs/" + id, function (data) {
      console.log(data);

      var dessert = $("<div>");
      var food = $("<div>");
      var snack = $("<div>");
      var kitchen = $("<div>");
      var drink = $("<div>");
      var study = $("<div>");
      var music = $("<div>");
      var editor = $("<div>");
      var programming = $("<div>");
      var exercise = $("<div>");

      dessert.text("Favorite Dessert :" + data.dessert);
      food.text("Favorite Food :" + data.food);
      snack.text("Favorite Snack :" + data.snack);
      kitchen.text("Go-To Kitchen Item: " + data.kitchen);
      drink.text("Favorite Alcoholic Drink : " + data.drink);
      study.text("Favorite Place to Study : " + data.study);
      music.text("Favorite Music Genre : " + data.music);
      editor.text("Favorite Text Editor : " + data.editor);
      programming.text("Reason to learn to code : " + data.programming);
      exercise.text("Favorite Exercise : " + data.exercise);
      $(".kevinDataBase").append(dessert, food, snack, kitchen, drink, study, music, editor, programming,
        exercise);
    });
  });
  $("#chelsey").on("click", function () {
    var id = 3;
    $(".chelseyDescription").hide();
    $.get("/api/devs/" + id, function (data) {
      console.log(data);

      var dessert = $("<div>");
      var food = $("<div>");
      var snack = $("<div>");
      var kitchen = $("<div>");
      var drink = $("<div>");
      var study = $("<div>");
      var music = $("<div>");
      var editor = $("<div>");
      var programming = $("<div>");
      var exercise = $("<div>");

      dessert.text("Favorite Dessert :" + data.dessert);
      food.text("Favorite Food :" + data.food);
      snack.text("Favorite Snack :" + data.snack);
      kitchen.text("Go-To Kitchen Item: " + data.kitchen);
      drink.text("Favorite Alcoholic Drink : " + data.drink);
      study.text("Favorite Place to Study : " + data.study);
      music.text("Favorite Music Genre : " + data.music);
      editor.text("Favorite Text Editor : " + data.editor);
      programming.text("Reason to learn to code : " + data.programming);
      exercise.text("Favorite Exercise : " + data.exercise);
      $(".chelseyDataBase").append(dessert, food, snack, kitchen, drink, study, music, editor, programming,
        exercise);
    });
  });
  $("#resultsButton").on("click", function () {
    $("#selectContainer").show();
    $("#resultsButton").hide();
    $("#findDevsButton").show();
    $.get("/api/answers/", function (data) {

      for (var i = 0; i < data.length; i++) {
        console.log(data[i]);
        var devInfo = $("<option>");
        devInfo.attr("value", data[i].name);
        devInfo.text(data[i].name);
        $("#selectContainer").append(devInfo);

      };
    });
  });
  //yes. I know this is messy and should be organized into functions, not just repeated $gets)
  $("#findDevsButton").on("click", function () {
    $("#alike").empty();
    var name = $("#selectContainer").val();
    var idaInfo = "Ida";
    var differenceIda;
    var idaLength;
    var kevinInfo = "Kevin";
    var differenceKevin;
    var kevinLength;
    var chelseyInfo = "Chelsey";
    var differenceChelsey;
    var chelseyLength;
    var derekInfo = "Derek";
    var differenceDerek;
    var derekLength;
    var mostAlike = [];

    console.log("name : " + name);
    $.get("/api/answers/" + name, function (data) {
      console.log("devData : " + data);
      devArray.push(data.dessert, data.food, data.snack, data.kitchen, data.drink, data.study, data.music, data
        .editor, data.programming, data.exercise);
      JSON.stringify(devArray);
      console.log("devArray :" + devArray);


    });

    $.get("/api/devs/", function (data) {
      console.log("allData : " + data);
      for (var i = 0; i < data.length; i++) {
        console.log(data[i]);
        var difference = _.without(devArray, data[i].dessert, data[i].food, data[i].snack, data[i].kitchen,
          data[i].drink, data[i].study, data[i].music, data[i].editor, data[i].programming, data[i].exercise);
        differenceLength = difference.length;
        mostAlike.push(differenceLength);
        console.log("mostAlike : " + mostAlike);

        var minIndex = mostAlike.indexOf(Math.min.apply(Math, mostAlike));
        console.log("minIndex : " + minIndex);

      };
      var alike = $("<div>");
      if (minIndex === 0) {
        alike.text("This dev is most like " + data[0].name);
        $("#alikeDev").append(alike);
      };
      if (minIndex === 1) {
        alike.text("This dev is most like " + data[1].name);
        $("#alikeDev").append(alike);
      };
      if (minIndex === 2) {
        alike.text("This dev is most like " + data[2].name);
        $("#alikeDev").append(alike);
      };
      if (minIndex === 3) {
        alike.text("This dev is most like " + data[3].name);
        $("#alikeDev").append(alike);
      };

    });

  });
</script>
    <script src="https://cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
</body>

</html>