<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev</>Decider</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/friendsFavicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
</head>

<body style="background-color:powderblue;">
    <div class="container">

		<section class="enter">
            <div class="content">
                <img src="https://s3.us-east-2.amazonaws.com/devdeciderimages/DeciderLogo"/> <br><br><br>


                <!-- <form>
                  <div class="form-row align-items-center">
                    <div class="col-md-2 mb-3">
                      <label for="name">Name</label> <br>
                      <input type="name" class="form-control text-left" id="inputName">
                    </div>
                  </div>


                </form>
                <form>
                    <div class="form-row align-items-center">
                      <div class="col-md-2 mb-3">
                        <label for="linkedin">LinkedIn URL</label> <br>
                        <input type="linkedin" class="form-control text-left" id="inputLinkedin">
                      </div>
                    </div> -->


                    <a class="typeform-share button" href="https://idajensen.typeform.com/to/sJZlxi" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Launch me </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

                  <!-- </form> -->

            </div>
    </section>

        <!-- <div>
            <a href="/survey">
                <button type="button" class="btn btn-lg btn-primary btn-block">
                    <h4><span>Go to survey</span></h4>
                </button>
            </a>
        </div> -->




    </div>
    <br><br><br><br><br><br>
    <footer class="footer">
        <div class="container">
            <p>
                <a href="https://">LinkedIn</a> |
                <a href="https://">GitHub</a>
            </p>
        </div>
    </footer>
    <!-- <script type="text/javascript">
    $("#submit").on("click", function(event) {
      event.preventDefault();
    //   var userData = {
    //     name: $("#inputName").val(),
    //     link: $("#inputLinkedin").val(),
    //   };
    //   console.log(userData);
    // var currentURL = window.location.origin;
    // $.post(currentURL + "/api/user", userData, function(data) {
    //   console.log("data : "+data.photo);
    //   console.log("data : "+data.name);
    //   console.log("data : "+data.id);
    // }).done(function(info){
          window.location="http://localhost:8080/answers?UserId="+info.id;
    })
  });
    </script> -->
</body>

</html>
