<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev</>Decider</title>
    <link rel="shortcut icon" type="image/png" href="assets/images/friendsFavicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
</head>

<body style="background-color:powderblue;">
    <div class="container">

		<section class="enter">
            <div class="content">
                <img src="https://s3.us-east-2.amazonaws.com/devdeciderimages/DeciderLogo"/> <br><br><br>

                <form>
                  <div class="form-row align-items-center">
                    <div class="col-md-2 mb-3">
                      <label for="name">Name</label> <br>
                      <input type="name" class="form-control text-left" id="inputName">
                    </div>
                  </div>


                </form>
                <form>
                    <div class="form-row align-items-center">
                      <div class="col-md-2 mb-3">
                        <label for="linkedin">LinkedIn URL</label> <br>
                        <input type="linkedin" class="form-control text-left" id="inputLinkedin">
                      </div>
                    </div>

                    <button type="button" class="btn btn-success name-submit-button">go to survey</button>

                  </form>

            </div>
    </section>

        <!-- <div>
            <a href="/survey">
                <button type="button" class="btn btn-lg btn-primary btn-block">
                    <h4><span>Go to survey</span></h4>
                </button>
            </a>
        </div> -->




    </div>
    <br><br><br><br><br><br>
    <footer class="footer">
        <div class="container">
            <p>
                <a href="https://">LinkedIn</a> |
                <a href="https://">GitHub</a>
            </p>
        </div>
    </footer>
</body>

</html>
