<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey </title>
    <link rel="shortcut icon" type="image/png" href="assets/images/surveyFavicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/css/reset.css">-->
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Google Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">-->
</head>

<body id="body">
    <div class="container">
        <div class="jumbotron">
            <h1 id="title"> Survey Questions</h1>
            <br>
            <br>
            <br>
            <h3 id="words">Tell Us A Little About Yourself...</h3>
        </div>
        <br>
        <br>
        <div class="input">
            <h4>Name</h4>
            <input type="text" id="name" class="form-control" placeholder="Required" required>
            <br>
            <!--<h4>Link to Photo</h4>
            <input type="text" id="photo" class="form-control" placeholder="Required" required>-->
        </div>

        <br>

        <!--question one-->
        <div class="row1">
            <h4 class="ques">1.&nbsp; I make friends easily.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>


            <h4 class="ques">2.&nbsp; I have a vivid imagination.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>


            <h4 class="ques">3.&nbsp; I love large parties.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>


            <h4 class="ques">4.&nbsp; I like to solve complex problems.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>


            <h4 class="ques">5.&nbsp; I try to follow the rules.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>

        </div>


        <div class="row2">
            <h4 class="ques">6.&nbsp; I talk to a lot of different people at parties.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>


            <h4 class="ques">7.&nbsp; I seek adventure.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>

            <h4 class="ques">8.&nbsp; I can't stand confrontations.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>


            <h4 class="ques">9.&nbsp; I can't stand confrontations.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>

            <h4 class="ques">10.&nbsp; I am passionate about causes.</h4>
            <img src="assets/images/cookie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="1">
            <label for="question-one"></label>

            <img src="assets/images/cake.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="2">
            <label for="question-one"></label>

            <img src="assets/images/icecream.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="3">
            <label for="question-one"></label>

            <img src="assets/images/pie.jpg" class="img-radio">
            <input type="radio" id="q1" name="q1" value="4">
            <label for="question-one"></label>

        </div>

        <button id="submit" type="button" class="btn-primary" data-toggle="modal" data-target="#resultsModal">
            Submit
        </button>
    </div>
    <!-- <footer class="footer">
        <div class="container" id="foot">
            <p>
                <a href="/api/friends">API Friends List</a> |
                <a href="https://github.com/Dfrand/FriendFinder">GitHub Repo</a> | &copy;Copyright 2018
                <a href="https://www.linkedin.com/in/derek-frand/">Derek Frand</a>
            </p>
        </div>
    </footer>-->

    <!-- Modal -->
    <div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Best Match</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 id="matchName"></h2>
                    <img id="matchImg" src="" alt="Best Friends">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <!-- Bootstrap.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Javavscript -->
    <script src="assets/javascript/app.js"></script>

</body>

</html>